body{
    background-color: rgb(9, 9, 25);
    margin: 0px;
}
#degraded{
    background: linear-gradient(rgb(15,15,15), rgb(9, 9, 25));
    min-height: 200px;
}
#login{
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    text-align: center;
}
img{
    border-radius: 100%;
    max-width: 200px;
    max-height: 200px;
}